services:
    metadata-storage:
        image: sbilife/metadata-storage:202508.14.1200
        restart: always
        env_file: .local/metadata-storage.env
    sqlalchmy-gateway:
        image: sbilife/sqlalchemy-gateway:202512.15.1117
        restart: always
        environment:
            - DEFINITIONS_PATH=/var/lib/metadata
        volumes:
            - ./.local/.alchemy:/var/lib/metadata
        labels:
            - traefik.http.routers.metadata-storage.rule=PathPrefix(`/api/v1/db-metadata`)
    redis-gateway:
        image: sbilife/redis-gateway:202512.09.1416
        restart: always
        environment:
            - REDIS_HOST=redis-for-sessions
        labels:
            - traefik.http.routers.session-data.rule=PathPrefix(`/api/v1/session-data`)
            - traefik.http.routers.session-data.service=session-data
            - traefik.http.services.session-data.loadBalancer.server.url=http://redis-gateway:80
            - traefik.http.routers.population-counter.rule=PathPrefix(`/api/v1/population-counter`)
            - traefik.http.routers.population-counter.service=population-counter
            - traefik.http.services.population-counter.loadBalancer.server.url=http://redis-gateway:81
    query-flow:
        image: sbilife/query-flow:202512.15.0828
        restart: always
        env_file: .local/query-flow.env
        volumes:
            - ./.local/.prompts/.catchall/prompt.txt:/app/prompt.txt
        labels:
            - traefik.http.routers.query-flow.rule=PathPrefix(`/api/v1/query-flow`)
    traefik:
        image: traefik:3.4.1
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        command:
            - --api.insecure=true
            - --providers.docker=true
        ports:
            - 11200:80
            - 11201:8080
    query-generator-ui:
        image: sbilife/query-generator-ui:202510.28.1001
        restart: always
        env_file: .local/query-generator-ui.env
        ports:
            - 11206:80
        volumes:
            - ./.local/query-generator.vite.config.ts:/usr/local/query-generator-ui/vite.config.ts
        labels:
            - traefik.http.routers.query-ui.rule=PathPrefix(`/query-ui`)
    redis:
        image: redis:7.0.0
        restart: always

    postgres:
        image: postgres:13
        restart: always
        volumes:
            - ./.local/.pg:/var/lib/postgresql/data
        env_file: .local/pg.env

    cubestore:
        image: cubejs/cubestore:v0.35.33
        restart: always
        env_file: .local/cube.env
        volumes:
            - ./.local/.cube:/cube/data

    synmetrix:
        image: synmetrix/stack:latest
        restart: always
        ports:
            - 11207:8888
            - 11208:4000
            - 11209:8081
        env_file: .local/synmetrix.env
    redis-for-sessions:
        image: redis:8.2.0
        restart: always
        volumes:
            - ./.local/.redis-for-sessions:/data
