services:
    traefik:
        image: traefik:latest
        restart: always
        networks:
            - nl2sql
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        command:
            - --api.insecure=true
            - --providers.docker=true
        ports:
            - 11200:80
            - 11201:8080
    redis:
        image: redis:latest
        restart: always
        networks:
            - nl2sql
        volumes:
            - ./.local/.redis:/data
    kafka:
        image: apache/kafka:latest
        restart: always
        networks:
            - nl2sql
        ports:
            - 11202:9094
        env_file: .local/kafka.env
    sqlalchemy-gateway:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/sqlalchemy-gateway:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - DEFINITIONS_PATH=/var/lib/metadata
        volumes:
            - ./.local/.alchemy:/var/lib/metadata
        labels:
            - traefik.http.routers.metadata-storage.rule=PathPrefix(`/api/v1/db-metadata`)
    redis-gateway:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/redis-gateway:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - REDIS_HOST=redis
        labels:
            - traefik.http.routers.session-data.rule=PathPrefix(`/api/v1/session-data`)
            - traefik.http.routers.session-data.service=session-data
            - traefik.http.services.session-data.loadBalancer.server.url=http://redis-gateway:80
            - traefik.http.routers.population-counter.rule=PathPrefix(`/api/v1/population-counter`)
            - traefik.http.routers.population-counter.service=population-counter
            - traefik.http.services.population-counter.loadBalancer.server.url=http://redis-gateway:81
    kafka-as-repo:
        image: asia-south1-docker.pkg.dev/sbilifeco-nl2sql/sbilife/kafka-as-repo:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - KAFKA_URL=kafka:9092
            - ANSWER_TIMEOUT=2
        labels:
            - traefik.http.routers.non-sql-answer-repo.rule=PathPrefix(`/api/v1/non-sql-answers`)
    static-web-server:
        image: asia-south1-docker.pkg.dev/sbilifeco-nl2sql/sbilife/static-web-server:latest
        restart: always
        networks:
            - nl2sql
        volumes:
            - ./.local/analytics:/var/www/html/analytics:ro
            - ./.local/.query-flow-batch-test:/var/www/html/test-results/query-flow:ro
        labels:
            - traefik.http.routers.analytics.rule=PathPrefix(`/analytics`)
            - traefik.http.routers.test-results.rule=PathPrefix(`/test-results`)
    unified-mcp-server:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/unified-mcp-server:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - POPULATION_COUNTER_HOST=redis-gateway
            - POPULATION_COUNTER_PORT=81
        labels:
            - traefik.http.routers.unified-mcp-server.rule=PathPrefix(`/mcp`)
    file-read-update-service:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/file-read-update-service:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - CONFIG_PATH=/etc/files.yaml
        volumes:
            - ./.local/files.yaml:/etc/files.yaml:ro
            - ./.local/.prompts:/var/lib/prompts:rw
            - ./.local/.alchemy:/var/lib/alchemy:rw
        labels:
            - traefik.http.routers.file-read-update.rule=PathPrefix(`/api/v1/updatable-objects`)
    query-flow:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/query-flow:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/query-flow.env
        volumes:
            - ./.local/.prompts:/app/.prompts
        labels:
            - traefik.http.routers.query-flow.rule=PathPrefix(`/api/v1/query-flow`)
    non-sql-notify-flow:
        image: asia-south1-docker.pkg.dev/sbilifeco-nl2sql/sbilife/non-sql-notify-flow:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - KAFKA_URL=kafka:9092
            - NON_SQL_ANSWER_REPO_HOST=kafka-as-repo
            - MAX_ITEMS=25
            - WEB_PAGE_PATH=/var/lib/sbilifeco/analytics/non-sql-answers/index.html
            - TEMPLATE_PATH=/var/lib/sbilifeco/templates/template.html
        volumes:
            - ./.local/analytics:/var/lib/sbilifeco/analytics:rw
            - ./.local/.jinja-templates:/var/lib/sbilifeco/templates:ro
        labels:
            - traefik.http.routers.non-sql-notify-flow.rule=PathPrefix(`/api/v1/non-sql-notify-requests`)
    query-generator-ui:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/query-generator-ui:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/query-generator-ui.env
        ports:
            - 11206:80
        volumes:
            - ./.local/query-generator.vite.config.ts:/usr/local/query-generator-ui/vite.config.ts
        labels:
            - traefik.http.routers.query-ui.rule=PathPrefix(`/query-ui`)
    config-editor-ui:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/config-editor-ui:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/config-editor-ui.env
        labels:
            - traefik.http.routers.file-editor-ui.rule=PathPrefix(`/editor-ui`)

    query-flow-batch-test:
        image: asia-south1-docker.pkg.dev/sbilifeco-nl2sql/sbilife/query-flow-batch-test:latest
        networks:
            - nl2sql
        environment:
            - QUERY_FLOW_HOST=query-flow
            - DB_ID=nb
        volumes:
            - ./.local/.query-flow-batch-test:/var/lib/query-flow-batch-test:rw

networks:
    nl2sql:
        ipam:
            config:
                - subnet: 192.168.11.0/24
