services:
    traefik:
        image: traefik:latest
        restart: always
        networks:
            - nl2sql
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        command:
            - --api.insecure=true
            - --providers.docker=true
        ports:
            - 11200:80
            - 11201:8080
    redis:
        image: redis:latest
        restart: always
        networks:
            - nl2sql
        volumes:
            - ./.local/.redis:/data
    kafka:
        image: apache/kafka:latest
        restart: always
        ports:
            - 11202:9094
        env_file: .local/kafka.env
    sqlalchemy-gateway:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/sqlalchemy-gateway:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - DEFINITIONS_PATH=/var/lib/metadata
        volumes:
            - ./.local/.alchemy:/var/lib/metadata
        labels:
            - traefik.http.routers.metadata-storage.rule=PathPrefix(`/api/v1/db-metadata`)
    redis-gateway:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/redis-gateway:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - REDIS_HOST=redis
        labels:
            - traefik.http.routers.session-data.rule=PathPrefix(`/api/v1/session-data`)
            - traefik.http.routers.session-data.service=session-data
            - traefik.http.services.session-data.loadBalancer.server.url=http://redis-gateway:80
            - traefik.http.routers.population-counter.rule=PathPrefix(`/api/v1/population-counter`)
            - traefik.http.routers.population-counter.service=population-counter
            - traefik.http.services.population-counter.loadBalancer.server.url=http://redis-gateway:81
    unified-mcp-server:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/unified-mcp-server:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - POPULATION_COUNTER_HOST=redis-gateway
            - POPULATION_COUNTER_PORT=81
        labels:
            - traefik.http.routers.unified-mcp-server.rule=PathPrefix(`/mcp`)
    file-read-update-service:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/file-read-update-service:latest
        restart: always
        networks:
            - nl2sql
        environment:
            - CONFIG_PATH=/etc/files.yaml
        volumes:
            - ./.local/files.yaml:/etc/files.yaml:ro
            - ./.local/.prompts:/var/lib/prompts:rw
            - ./.local/.alchemy:/var/lib/alchemy:rw
        labels:
            - traefik.http.routers.file-read-update.rule=PathPrefix(`/api/v1/updatable-objects`)
    query-flow:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/query-flow:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/query-flow.env
        volumes:
            - ./.local/.prompts:/app/.prompts
        labels:
            - traefik.http.routers.query-flow.rule=PathPrefix(`/api/v1/query-flow`)
    query-generator-ui:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/query-generator-ui:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/query-generator-ui.env
        ports:
            - 11206:80
        volumes:
            - ./.local/query-generator.vite.config.ts:/usr/local/query-generator-ui/vite.config.ts
        labels:
            - traefik.http.routers.query-ui.rule=PathPrefix(`/query-ui`)
    config-editor-ui:
        image: asia-south1-docker.pkg.dev/prj-uat-di-website-agent/sbilife/config-editor-ui:latest
        restart: always
        networks:
            - nl2sql
        env_file: .local/config-editor-ui.env
        labels:
            - traefik.http.routers.file-editor-ui.rule=PathPrefix(`/editor-ui`)

networks:
    nl2sql:
        ipam:
            config:
                - subnet: 192.168.11.0/24
