[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project]
name = "sbilifeco-paths-non-sql-notify-flow"
version = "0.1.0"
description = "Endpoints for clients that need to call this flow"
dependencies = []