[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project]
name = "sbilifeco-paths-object-read-update"
version = "0.1.0"
description = "Endpoints for microservice to read and update updatable objects"
dependencies = []